:root {
  --sidebar-width: 300px;
  --titlebar-height: 60px;
}

body {
  font-family: Roboto;
  overflow-x: hidden;
  overflow-y: scroll;
}

main {
  padding-left: var(--sidebar-width);
  padding-top: var(--titlebar-height);
}

#sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: var(--sidebar-width);
}

#sidebar .nav {
  --bs-nav-link-color: gray;
  --bs-nav-link-hover-color: darkviolet;
}

#sidebar .nav-pills {
  --bs-nav-pills-link-active-bg: darkviolet;
  --bs-nav-link-hover-color: darkviolet;
}

.titlebar {
  align-items: center;
  position: fixed;
  left: var(--sidebar-width);
  right: 0;
  top: 0;
  height: var(--titlebar-height);
  background: white;
}
